/*
Theme Name: Vernal Base Theme
Theme URI: http://vernalcreative.com
Description: A foundation for Vernal-built custom themes.
Version: 1.0.6
Author: cyberhobo &amp; Jason Lemieux
Author URI: http://vernalcreative.com
Tags: vernal

Copyright 2012 Vernal Creative LLC
*/

* {
	margin: 0;
	padding: 0;
}

a {
	color: #3d969e;
	text-decoration: none;
}

a:hover {
	color: #797878;
}
   
 a:active, a:focus {
	outline: 0;
	color: #797878;
}

body {
	font: 14px  Arial, Helvetica, Geneva, sans-serif;
	color: black;
}

a img {
	border: none;
}

h1, h2, h3, h4 {
	margin-bottom: 15px;
	font-weight: normal;
}

p, ul, ol {
	margin: 0;
	margin-bottom: 15px;
}

img.aligncenter {
	margin-bottom: 25px;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.alignleft {
	float: left;
	margin: 0 15px 7px 0;
}

.alignnone {
	text-align: center;
}

.alignright {
	float: right;
	margin: 0 0 7px 15px;
}

.button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #90908d;
	color: #fff;
	padding: 5px 15px;
	text-transform: uppercase;
	display: block;
	width: 85px;
	text-align: center;
	font-weight: bold;
}

.button:visited {
	color: #fff;
}

.button:hover {
	background-color: #eea22f;
	color: #fff;
	cursor: pointer;
}

.clear {
	clear: both;
}

.hide, .hidden {display: none;}



.more a:hover {
	text-decoration: underline;
}

.login input {
	border: 1px solid #ddd;
	padding: 5px;
	font-size: 120%;
}

.noborder {
	border: none !important;
}

.fee-clearfix:after {
	clear: none !important;
}

.thumb {
	margin: 0;
	padding: 0;
}

div.fee-form,textarea.fee-form-content {
	clear: none !important;
}

p.wp-caption-text {
	font-size: 85%;
	text-align: center;
	color: #3a6d64;
	margin-bottom: 0;
}

/* @end */
